.post-container {
  max-width: 1028px;
  margin:  0 auto;;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 27px;
  padding: 0 27px;
}

@media (max-width: 450px) {
  .post-container {
    transform: translateY(2rem);
  }
}