.hero {
  background: linear-gradient(0, #4B6CB7, #182848);
  display: flex;
  flex-direction: column;

  > h1, h2 {
    color: #EDEDED;
    text-align: center;
  }
}

.hero-avatar {
  align-self: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}