.nav {
  width: 1028px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  display: flex;
  align-items: center;

  > a {
    display: flex;
    justify-content: center;
    color: #EDEDED;

    > img {
      margin-right: 1rem;
    }
  }
}

.nav-logo {
  height: 45px;
}

.nav-links {
  font-family: "Roboto", sans-serif;

  > a {
    color: #EDEDED;
    display: inline-block;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 450px) {
  .nav {
    margin: 0 27px;
  }
}