.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-hero {
  display: flex;
  justify-content: center;
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: inherit;
  }
}

.nav-links {
  font-family: "Roboto", sans-serif;

  > a {
    color: #EDEDED;
    display: inline-block;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 450px) {
  .nav {
    margin: 0 27px;
  }
}