.post-metadata {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  margin: 1.5em 0;
  justify-content: space-between;
}

.post-date {
  margin: 0;
}

.post-tags {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: $paragraph-font-size;
  font-family: $paragraph-font-family;
  color: $time-font-color;

  > li {
    list-style: none;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.post-title {
  text-decoration: none;

  &:hover {
    text-decoration: inherit;
  }

  > h2 {
    transition: color 0.3s ease;

    &:hover {
      color: $link-color;
    }
  }
}