html {
  font-size: $base-font-size;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $body-background-color;
  margin: 0 auto;
}