h1,
h2,
h3,
h4 {
  font-family: $header-font-family;
  line-height: 1;
  margin: 1em 0;
  word-spacing: -0.0625em;
  color: $header-font-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  font-weight: 300;
}

p,
time,
ul {
  font-size: $paragraph-font-size;
  font-family: $paragraph-font-family;
  line-height: 1.5;
  margin: 1.5em 0;
  word-spacing: 0.25em;
  color: $paragraph-font-color;
}

small {
  font-family: $paragraph-font-family;
  font-weight: 600;
  font-size: $small-font-size;
}

time {
  color: $time-font-color;
}

a {
  color: #1565C0;
  text-decoration: underline;
  text-decoration-skip: ink;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding: 1.5em 0;

  &> p:before {
    content:"“";
    display: inline;
    font-style: normal;
  }

  &> p::after {
    content:"”";
    font-style: normal;
  }
}
