$body-background-color: #F1F1F3;
$base-font-size: 18px;

$header-font-family: 'Open Sans', sans-serif;
$header-margin-bottom: 1.166;
$paragraph-font-family: 'Merriweather', serif;

$h1-font-size: 1.793rem;
$h2-font-size: 1.575rem;
$h3-font-size: 1.215rem;
$paragraph-font-size: 1rem;